<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dh.dao.PlayerAccountMapper">
	
	<select id="getPlayerAccount" parameterType="java.lang.Integer" resultType="com.dh.game.vo.user.PlayerAccountVO">
		SELECT `gmMoney`, `gmRmb`, `exploit`, `power`,`knapsack`,playerId,`pvp`, `expc`,`score`,`knapsack2` ,`hisrecharge`,`giftgod`
		FROM t_player_account where playerid=#{playerId}
	</select>
	<insert id="insertPlayerAccountVO" parameterType="com.dh.game.vo.user.PlayerAccountVO">
		INSERT INTO `t_player_account`(`playerId`,`gmMoney`,`gmRmb`,`exploit`,`power`,`pvp`, `expc`,`knapsack`,`hisrecharge`,`giftgod`)
		 VALUES(#{playerId},#{gmMoney},#{gmRmb},#{exploit},#{power},#{pvp},#{expc},#{knapsack},0,#{giftgod});
	</insert>
	
	
	
	<update id="updatePlayerAccountMoney" parameterType="com.dh.game.vo.user.PlayerAccountVO">
		UPDATE `t_player_account` SET `gmMoney` = #{gmMoney} WHERE `playerid` = #{playerId}
	</update>
	
	<update id="updatePlayerAccountRMB" parameterType="com.dh.game.vo.user.PlayerAccountVO">
		UPDATE `t_player_account` SET `gmRmb` = #{gmRmb} ,`hisrecharge` = #{hisrecharge}, `giftgod` = #{giftgod}
		WHERE `playerid` = #{playerId}
	</update>
	
	<update id="updatePlayerAccountExploit" parameterType="com.dh.game.vo.user.PlayerAccountVO">
		UPDATE `t_player_account` SET `exploit` = #{exploit} WHERE `playerid` = #{playerId}
	</update>
	
	<update id="updatePlayerAccountPower" parameterType="com.dh.game.vo.user.PlayerAccountVO">
		UPDATE `t_player_account` SET `power` = #{power}  WHERE `playerid` =#{playerId}
	</update>
	
	<update id="updatePlayerAccountPVP" parameterType="com.dh.game.vo.user.PlayerAccountVO">
		UPDATE `t_player_account` SET `pvp` = #{pvp} WHERE `playerid` =#{playerId}
	</update>
	
	<update id="updatePlayerAccountExpc" parameterType="com.dh.game.vo.user.PlayerAccountVO">
		UPDATE `t_player_account` SET `expc` = #{expc} WHERE `playerid` =#{playerId}
	</update>
	
	<update id="updatePlayerAccountScore" parameterType="com.dh.game.vo.user.PlayerAccountVO">
		UPDATE `t_player_account` SET `score` = #{score} WHERE `playerid` =#{playerId}
	</update>
	
	<update id="updatePlayerAccountKnapsack" parameterType="com.dh.game.vo.user.PlayerAccountVO">
		UPDATE `t_player_account` SET `knapsack` = #{knapsack}, `knapsack2` = #{knapsack2} WHERE `playerid` =#{playerId}
	</update>
	
	<insert id="insertPlayerAccountLog" parameterType="com.dh.game.vo.user.log.PlayerAccountLog">
		INSERT INTO `t_player_account_detail`
	            (`playerId`,
	             `currency`,
	             `amount`,
	             `beAmount`,
	             `operateType`,
	             `operateTime`,
	             `reason`)
		VALUES (#{playerId},
		        #{currency},
		        #{amount},
		        #{beAmount},
		        #{operateType},
		        #{operateTime},
		        #{reason})
	</insert>
	
</mapper>